<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Personal Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- font awesome -->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- responsive css -->
  <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<body>

  <!-- header start -->
  <header class="header">
    <div class="container">
      <div class="row justify-content-between">
        <div class="logo">
          <a href="index.html" class="page-scroll">H</a>
        </div>
        <div class="day-night s-icon outer-shadow hover-in-shadow">
          <i class="fas fa-moon"></i>
        </div>
      </div>
    </div>

  </header>
  <!-- header end -->

  <!-- home section -->
  <section id="home" class="home-section section">
    <div class="effect-wrap">
      <div class="effect effect-1"></div>
      <div class="effect effect-2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="effect effect-3"></div>
      <div class="effect effect-4"></div>
      <div class="effect effect-5">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="container">
      <div class="row full-screen align-item-center">
        <div class="home-text">
          <p>Hello</p>
          <h2>I'm Haikal Javier Rachman</h2>
          <h1>Network Enginner & Web Developer</h1>
          <a href="#about" class="page-scroll link-item btn-1 outer-shadow hover-in-shadow">More About Me</a>
        </div>
        <div class="home-img">
          <div class="img-box inner-shadow">
            <img src="img/2.jpg" class="outer-shadow" alt="profile-pic">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end home section -->

  <!-- about section -->
  <section id="about" class="about-section section">
    <div class="effect">
      <img src="img/body-bg.png">
    </div>
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-heading="main-info">About Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="about-img">
          <div class="img-box inner-shadow">
            <img src="img/2.jpg" alt="profile-pic" class="outer-shadow">
          </div>
          <div class="social-links">
            <a href="#" class="outer-shadow hover-in-shadow"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="outer-shadow hover-in-shadow"><i class=" fab fa-instagram"></i></a>
            <a href="#" class="outer-shadow hover-in-shadow"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="about-info">
          <p><span>Hi! My name is Haikal Javier Rachman. I am a Network Engineer and Web Developer.</span> Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Incidunt recusandae esse nisi sit commodi, aliquam cumque est
            id minima optio quo. Dolores facere eveniet numquam reprehenderit ut recusandae, voluptatibus, eaque vitae
            corporis mollitia officia eius nemo id vero. Quam culpa eaque nulla. Deserunt voluptate rem accusamus
            eveniet veniam sunt labore saepe quae minima quasi, corrupti esse explicabo voluptas.</p>
          <p> Veltiquo libero
            provident quos? Libero magnam unde dolorem mollitia repudiandae quisquam quod dignissimos eligendi?
            Exercitationem, maiores..</p>
          <a href="cv.pdf" class="btn-1 outer-shadow hover-in-shadow">Download CV</a>
          <a href="#contac" class="page-scroll link-item btn-1 outer-shadow hover-in-shadow">Hire Me</a>
        </div>
      </div>
      <div class="row">
        <div class="about-tabs">
          <span class="tab-item outer-shadow hover-in-shadow active" data-target=".skills">Skills</span>
          <span class="tab-item hover-in-shadow" data-target=".tools">Library & Frameworks</span>
          <span class="tab-item hover-in-shadow" data-target=".education">Education</span>
          <span class="tab-item hover-in-shadow" data-target=".experience">Experience</span>
        </div>
      </div>
      <!-- skill -->
      <div class="row">
        <div class="skills tab-content active">
          <div class="row">
            <div class="skill-item">
              <p>Networking</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(70% - 14px);">
                  <span>70%</span>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <p>Html</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(75% - 14px);">
                  <span>75%</span>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <p>Ms Office</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(70% - 14px);">
                  <span>70%</span>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <p>PHP</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(75% - 14px);">
                  <span>75%</span>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <p>Database</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(60% - 14px);">
                  <span>60%</span>
                </div>
              </div>
            </div>
            <div class="skill-item">
              <p>Javascript</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(60% - 14px);">
                  <span>60%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end skill -->
      <!-- tools -->
      <div class="row">
        <div class="tools tab-content">
          <div class="row">
            <div class="tool-item">
              <p>Laravel</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(75% - 14px);">
                  <span>75%</span>
                </div>
              </div>
            </div>
            <div class="tool-item">
              <p>Bootstrap</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(70% - 14px);">
                  <span>70%</span>
                </div>
              </div>
            </div>
            <div class="tool-item">
              <p>CodeIgniter</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(60% - 14px);">
                  <span>60%</span>
                </div>
              </div>
            </div>
            <div class="tool-item">
              <p>Jquery</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: calc(60% - 14px);">
                  <span>60%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end skill -->
      <!-- experience -->
      <div class="row">
        <div class="experience tab-content">
          <div class="row">
            <div class="timeline">
              <div class="row">
                <!-- timeline -->
                <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow">
                    <i class="fas fa-briefcase icon"></i>
                    <span>Mei, 2021</span>
                    <h3>Adinusa Docker For Devops</h3>
                    <p>Lorem ipsum
                      dolor sit amet consectetur adipisicing elit. Incidunt recusandae esse nisi sit commodi, aliquam
                      cumque est</p>
                    <a href="sertificate/docker for devops.pdf" class="btn-1 outer-shadow hover-in-shadow">View
                      Sertificate</a>
                  </div>
                </div>
                <!-- end timeline -->
                <!-- timeline -->
                <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow">
                    <i class="fas fa-briefcase icon"></i>
                    <span>Mei, 2021</span>
                    <h3>Adinusa Linux System Administrator</h3>
                    <p>Lorem ipsum
                      dolor sit amet consectetur adipisicing elit. Incidunt recusandae esse nisi sit commodi, aliquam
                      cumque est</p>
                    <a href="sertificate/linux system administration.pdf"
                      class="btn-1 outer-shadow hover-in-shadow">View Sertificate</a>
                  </div>
                </div>
                <!-- end timeline -->
                <!-- timeline -->
                <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow">
                    <i class="fas fa-briefcase icon"></i>
                    <span>Jun, 2020 - August, 2020</span>
                    <h3>Adinusa CompTia Cysa+</h3>
                    <p>Lorem ipsum
                      dolor sit amet consectetur adipisicing elit. Incidunt recusandae esse nisi sit commodi, aliquam
                      cumque est</p>
                    <a href="sertificate/cysa+.pdf" class="btn-1 outer-shadow hover-in-shadow">View Sertificate</a>
                  </div>
                </div>
                <!-- end timeline -->
                <!-- timeline -->
                <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow">
                    <i class="fas fa-briefcase icon"></i>
                    <span>Jun, 2020 - August, 2020</span>
                    <h3>Adinusa CompTia Security+</h3>
                    <p>Lorem ipsum
                      dolor sit amet consectetur adipisicing elit. Incidunt recusandae esse nisi sit commodi, aliquam
                      cumque est</p>
                    <a href="sertificate/security+.pdf" class="btn-1 outer-shadow hover-in-shadow">View Sertificate</a>
                  </div>
                </div>
                <!-- end timeline -->
                <!-- timeline -->
                <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow">
                    <i class="fas fa-briefcase icon"></i>
                    <span>Jul, 2019 - August, 2019</span>
                    <h3>IT Support Staff</h3>
                    <h4>PT. Pertamina EP Cepu, indonesia</h4>
                    <p>Lorem ipsum
                      dolor sit amet consectetur adipisicing elit. Incidunt recusandae esse nisi sit commodi, aliquam
                      cumque est</p>
                  </div>
                </div>
                <!-- end timeline -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end experience -->
      <!-- education -->
      <div class="row">
        <div class="education tab-content">
          <div class="row">
            <div class="timeline">
              <div class="row">
                <!-- timeline -->
                <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow">
                    <i class="fas fa-graduation-cap icon"></i>
                    <span>Jul, 2018 - August, 2020</span>
                    <h3>SMK AL- Muhtadin Depok</h3>
                    <p class="p1">Major of Computer & Networking Engineer</p>
                  </div>
                </div>
                <!-- end timeline -->
                <!-- timeline -->
                <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow">
                    <i class="fas fa-graduation-cap icon"></i>
                    <span>Jul, 2016 - August, 2017</span>
                    <h3>SMPN 166 Jakarta</h3>
                  </div>
                </div>
                <!-- end timeline -->
                <!-- timeline -->
                <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow">
                    <i class="fas fa-graduation-cap icon"></i>
                    <span>Jul, 2015 - August, 2015</span>
                    <h3>SDN 09 Lenteng Agung</h3>
                  </div>
                </div>
                <!-- end timeline -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end education -->
    </div>
  </section>
  <!-- end about section -->

  <!-- service section -->
  <section id="services" class="service-section section">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-heading="Services">What i do</h2>
        </div>
      </div>
      <div class="row">
        <!-- services -->
        <div class="service-item">
          <div class="service-item-inner outer-shadow">
            <div class="icon inner-shadow">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <h3>Networking</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
        <!-- end services -->
        <!-- services -->
        <div class="service-item">
          <div class="service-item-inner outer-shadow">
            <div class="icon inner-shadow">
              <i class="fas fa-laptop-code"></i>
            </div>
            <h3>Web Developer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
        <!-- end services -->
        <!-- services -->
      </div>
    </div>
  </section>
  <!-- end service section -->

  <!-- portfolio section -->
  <section id="portfolio" class="portfolio-section section">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-heading="portfolio">Latest Works</h2>
        </div>
      </div>
      <div class="row portfolio-items">
        <!-- item -->
        <div class="portfolio-item">
          <div class="portfolio-inner-item outer-shadow">
            <div class="portfolio-item-img">
              <img src="img/portfolio/thumb/project-1.png" alt="portfolio"
                data-screenshots="img/portfolio/large/project-1/1.png,img/portfolio/large/project-1/2.png,img/portfolio/large/project-1/3.png,img/portfolio/large/project-1/4.png,img/portfolio/large/project-1/5.png,img/portfolio/large/project-1/6.png">
              <span class="view-project">view project</span>
            </div>
            <p class="portfolio-item-title">Personal Portfolio</p>
            <!-- portfolio detail -->
            <div class="portfolio-item-details">
              <div class="row">
                <div class="description">
                  <h3>Project Brief:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est at vero laudantium tempora, ipsum
                    laborum nam sunt, incidunt voluptates cupiditate quas reiciendis! Nostrum, cum deleniti placeat
                    officia voluptas voluptatum libero.</p>
                </div>
                <div class="info">
                  <h3>Project info</h3>
                  <ul>
                    <li>Date - <span>2020</span></li>
                    <li>Client - <span>Haikal</span></li>
                    <li>Tools - <span>html, css, Javascript</span></li>
                    <li>Web - <span><a href="#">www.haikal.com</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end portfolio detail -->
          </div>
        </div>
        <!-- end item -->
        <!-- item -->
        <div class="portfolio-item">
          <div class="portfolio-inner-item outer-shadow">
            <div class="portfolio-item-img">
              <img src="img/portfolio/thumb/project-2.png" alt="portfolio"
                data-screenshots="img/portfolio/large/project-2/1.png,img/portfolio/large/project-2/2.png">
              <span class="view-project">view project</span>
            </div>
            <p class="portfolio-item-title">Weeding corp</p>
            <!-- portfolio detail -->
            <div class="portfolio-item-details">
              <div class="row">
                <div class="description">
                  <h3>Project Brief:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est at vero laudantium tempora, ipsum
                    laborum nam sunt, incidunt voluptates cupiditate quas reiciendis! Nostrum, cum deleniti placeat
                    officia voluptas voluptatum libero.</p>
                </div>
                <div class="info">
                  <h3>Project info</h3>
                  <ul>
                    <li>Date - <span>2020</span></li>
                    <li>Client - <span>Javier</span></li>
                    <li>Tools - <span>html, css, PHP</span></li>
                    <li>Web - <span><a href="#">www.javier.com</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end portfolio detail -->
          </div>
        </div>
        <!-- end item -->
        <!-- item -->
        <div class="portfolio-item">
          <div class="portfolio-inner-item outer-shadow">
            <div class="portfolio-item-img">
              <img src="img/portfolio/thumb/project-3.png" alt="portfolio"
                data-screenshots="img/portfolio/large/project-3/1.png,img/portfolio/large/project-3/2.png,img/portfolio/large/project-3/3.png,img/portfolio/large/project-3/4.png,img/portfolio/large/project-3/5.png">
              <span class="view-project">view project</span>
            </div>
            <p class="portfolio-item-title">Personal Portfolio</p>
            <!-- portfolio detail -->
            <div class="portfolio-item-details">
              <div class="row">
                <div class="description">
                  <h3>Project Brief:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est at vero laudantium tempora, ipsum
                    laborum nam sunt, incidunt voluptates cupiditate quas reiciendis! Nostrum, cum deleniti placeat
                    officia voluptas voluptatum libero.</p>
                </div>
                <div class="info">
                  <h3>Project info</h3>
                  <ul>
                    <li>Date - <span>2020</span></li>
                    <li>Client - <span>rachman</span></li>
                    <li>Tools - <span>html, css, Bootstrap</span></li>
                    <li>Web - <span><a href="#">www.rachman.com</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end portfolio detail -->
          </div>
        </div>
        <!-- end item -->
        <!-- item -->
        <div class="portfolio-item">
          <div class="portfolio-inner-item outer-shadow">
            <div class="portfolio-item-img">
              <img src="img/portfolio/thumb/project-4.png" alt="portfolio"
                data-screenshots="img/portfolio/large/project-4/1.png">
              <span class="view-project">view project</span>
            </div>
            <p class="portfolio-item-title">Personal Portfolio</p>
            <!-- portfolio detail -->
            <!-- portofolio item has no details -->
            <!-- end portfolio detail -->
          </div>
        </div>
        <!-- end item -->
      </div>
    </div>
  </section>
  <!-- end portfolio section -->

  <!-- contac section -->

  <section id="contac" class="contac-section section">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-heading="contac">Get In Touch</h2>
        </div>
      </div>
      <div class="row">
        <!-- contac item -->
        <div class="contac-item">
          <div class="contac-item-inner outer-shadow">
            <i href="#" class=" icon fas fa-mobile-alt"></i>
            <span href="#" class="title">Phone</span>
            <p href="#" class="item">+62 895396980070</p>
            <a href="tel:+62895396980070" class="btn-1 outer-shadow hover-in-shadow">Call</a>
            <a href="https://api.whatsapp.com/send?phone=62895396980070"
              class="btn-1 outer-shadow hover-in-shadow">Whatsapp</a>
            <!-- <a href="#" class="btn-1 outer-shadow hover-in-shadow">>></a> -->
          </div>
        </div>
        <!-- end contac item -->
        <!-- contac item -->
        <div class="contac-item">
          <div class="contac-item-inner outer-shadow">
            <i class="icon fas fa-envelope"></i>
            <span href="#" class="title">Email</span>
            <p class="item">haikaljavierrachman@gmail.com</p>
            <a href="mailto:haikaljavierrachman@gmail.com" class="btn-1 outer-shadow hover-in-shadow">Send Email</a>
            <!-- <a href="#" class="btn-1 outer-shadow hover-in-shadow">>></a> -->
          </div>
        </div>
        <!-- end contac item -->
        <!-- contac item -->
        <div class="contac-item">
          <div class="contac-item-inner outer-shadow">
            <i class="icon fas fa-map-marker-alt"></i>
            <span class="title">Address</span>
            <p class="item">Jl. Cipayung Raya Gg. Jambu No. 120 RT.001/RW.01. Depok, Jawa Barat</p>
          </div>
        </div>
        <!-- end contac item -->
      </div>
    </div>
  </section>

  <!-- end contac section -->

  <!-- portfolio popup -->
  <div class="pp portfolio-popup">
    <div class="pp-details">
      <div class="pp-details-inner">
        <div class="pp-title">
          <h2></h2>
          <p>Category - <span class="pp-project-category"></span></p>
        </div>
        <div class="pp-project-details">
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="pp-main">
      <div class="pp-main-inner">
        <div class="pp-project-details-btn outer-shadow hover-in-shadow">Project Detail <i class="fas fa-plus"></i>
        </div>
        <div class="pp-close outer-shadow hover-in-shadow">&times;</div>
        <img src="img/portfolio/large/project-1/1.png" class="pp-img outer-shadow" alt="img">
        <div class="pp-counter"></div>
      </div>
      <div class="pp-loader">
        <div></div>
      </div>
      <!-- pp nav -->
      <div class="pp-prev"><i class="fas fa-play"></i></div>
      <div class="pp-next"><i class="fas fa-play"></i></div>
      <!-- end pp nav -->
    </div>
  </div>
  <!-- end portfolio popup -->


  <!-- main js -->
  <script src="js/main.js"></script>
  <!-- style switcher js -->
  <script src="js/style-switcher.js"></script>
</body>

</html>